html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
  }

  #fileUploader {
    margin-top: 20%;
  }

  .pdm {
    color: #e60000;
  }

  .adm {
    color: #D18100;
  }

  .fa-file-alt {
    color: #0000ff;
  }

  .far, .fas {
    margin: 0 5px;
    cursor: pointer;
  }

  .far span, .fas span {
    margin: 3px auto 0px auto;
    font-size: 10px;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
  }

  #toggles {
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: left;
  }

  #toggles p {
    padding-left: 20px;
    display: inline-block;
    white-space: nowrap;
  }

  #toggles input {
    margin-right: 20px;
  }

  #chart {
    margin-top: 100px;
  }

  #chart tbody tr:first-child {
    background: #000 !important;
    color: #FFF !important; 
  }

  #legend {
    color: #000;
    background: #fff;
  }

  table {
    border-collapse: collapse;
  }

  td {
    white-space: nowrap;
    padding: 10px;
    text-align: center;
  }

  tr {
    padding: 10px;
    text-align: center;
  }

  tr h3 {
    margin: 0;
    padding: 10px;
    font-weight: 500;
  }

  .row:hover {
    background-color: #e5f4f8 !important;
  }

  .cell:hover {
    background: #e0ffff !important;
  }

  .table-dragable > tbody .grabable {
    cursor: grab;
    user-select: none ;
  }

  .table-dragable > tbody > tr.grabbed {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background: #e0ffff !important
  }

  .table-dragable > tbody > tr.grabbed:active {
    user-input: none;
  }

  .table-dragable > tbody > tr.grabbed:active * {
    user-input: none;
    cursor: grabbing !important;
  }

  .count {
    font-size: 14px;
    color: blue;
    cursor: pointer;
  }

   .count:hover {
    text-decoration: underline;
  }


